.Film-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 5%;
}
#title-date h1{
    margin-bottom: 0;
}
#title-date h3{
    margin-bottom: 5%;
    margin-top: 0;
}
#description{
    text-align: initial;
}