.card-box{
    background-color: white;
    border-radius: 10px;
    transition: color .4s, background-color .4s;
    color: black;
    text-decoration: none;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}
.card-title {
    text-decoration: none;
 }
 .film-poster-by-id img{
     width: 200px;
 }

@media (max-width: 380px) {
    .card-box{
        width: 80%;
    }
  }
.card-box:hover{
    color: white;
    background-color: #008E90FF;
    cursor: pointer;
    
}